//output:../views/deals.html
nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid  
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.systitle(href='#') 
        span Пані
        span брат    
      ul.nav.navbar-nav
        li.active
          a(href='#')
            | Link 
            span.sr-only (current)
        li
          a(href='#') Link          
        li  
          a(href='#')   
            span.glyphicon.magnifier.glyphicon-search(aria-hidden='true')          
.container.header-deals
  .row
    .col-md-12
      ul.list-inline
        li
          a(href="")
            span Виконуються
        li
          a(href="")
            span Виконані
        li
          a(href="")
            span Пропозиції від Вас
        li
          a(href="")
            span Пропозиції для Вас
.container.
