
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand systitle"> <span>Пані</span><span>брат    </span></a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link          </a></li>
        <li> <a href="#">  <span aria-hidden="true" class="glyphicon magnifier glyphicon-search">         </span></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container header-deals">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><a href=""><span>Виконуються</span></a></li>
        <li><a href=""><span>Виконані</span></a></li>
        <li><a href=""><span>Пропозиції від Вас</span></a></li>
        <li><a href=""><span>Пропозиції для Вас</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container"></div>